<div class="entry">
  <a class="entry-thumb" href="http://www.timelyapp.com" title="Visit Timely" target="_blank">
    <p><img src="/screenshots/timely.jpg"></p>
    <span class="icon icon-forward entry-icon"></span>
  </a>
  <div class="entry-content">
    <h2 class="entry-title">
      <a href="/2014/05/20/timely/">Timely</a>
    </h2>
    <p class="entry-date">May 20, 2014</p>
  </div>
</div>